Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Apache.Commons.Math.userprefs

Apache.Commons.Math/Apache.Commons.Math.pidb

Apache.Commons.Math/Exceptions/Util/LocalizedFormatBuilder.resources

Apache.Commons.Math/Exceptions/Util/LocalizedFormat.resources

Apache.Commons.Math/Exceptions/Util/LocalizedFormats.resources

JavaDotNet/JavaDotNet.pidb
